<ul>
  <% @tasks.each do |task|  %>
    <li><%= "[]" if task.completed == false %>
        <%="[X]" if task.completed == true %>
      <%=link_to task.title, task_path(task.id) %>
      <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
      </li>
<% end %>
</ul>

<%= link_to "Create a new task", tasks_new_path %>
